@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.section{
  position: absolute;
  background: #042A2B;
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  left: 0;
  top: 0;
}

.main{
  background: #EF7B45;
  width: 600px;
  margin-left: auto;
  margin-right:auto ;
  padding: 20px;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100vh;
  }
  .title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  

  .input_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    gap: 20px;
    width: 90%;
    input{
      outline: none;
      border-radius: 10px;
      height: 100%;
      border: none;
      width: 60%;
      padding: 0 20px;
    }
    button{
      height: 100%;
      border-radius: 10px;
      border: none;
      outline: none;
      padding: 0 20px;
      background: white;
      color: #EF7B45;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}



